.inputCont {
  display: flex;
  background: var(--main-grey);
  border-radius: 1.5rem;
  padding: 1rem;
}

.inputCont form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search {
  width: 75%;
  margin-left: 1rem;
  background: var(--main-grey);
  border: none;
}

.btn {
  padding: 1rem;
  border: none;
  background: var(--main-purple);
  border-radius: 1rem;
  color: white;
  font-weight: 700;
  font-size: 0.85rem;
}
