.Container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #e75481 -22.84%, #929cde 113.36%);
}

.content {
  display: flex;
  flex: 0.75;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: auto;
}

.input {
  margin-bottom: 2rem;
  margin-top: auto;
}
