.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #e75481 -22.84%, #929cde 113.36%);
}

.content {
  display: flex;
  flex: 1;
  width: 85vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.input {
  width: 80%;
}

@media only screen and (min-width: 1000px) {
  .content {
    width: 60vw;
    min-height: auto;
  }
}

@media only screen and (min-width: 1500px) {
  .content {
    width: 40vw;
  }
}

@media only screen and (min-width: 2000px) {
  .content {
    width: 30vw;
  }
}
